@import "tailwindcss";

@theme {
  --color-auburn-700: #611717;
  --color-auburn-600: #A22626;
  --color-auburn-500: #E43636;
  --color-auburn-400: #EB5C5C;

  --color-cookies-cream-800: #524D24;
  --color-cookies-cream-700: #787135;
  --color-cookies-cream-600: #918840;
  --color-cookies-cream-500: #ADA561;
  --color-cookies-cream-400: #D6CF9B;
  --color-cookies-cream-300: #ECE6C3;

  --color-black: #171717;

  --breakpoint-md-p: 990px;
}